body {
	background-color: orange;
}
h1 {
	color: red;
}
.red {
	color: blue;
}
footer {
	color: red;
}
p {
	font-size: 40px;
	color: white;
}
h2 {
	color: red;
}
h3 {
	color: red;
}